* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

body{
    background: linear-gradient(to right, white, #ffd783);
}
/* ----------INDEX---------- */


/* ----------BOOTSTRAP---------- */


.offcanvas{
    display: none;
    transition: 0.5s;
    background-color: #ffd783;
}
.offcanvas-title{
    font-weight: bolder;
}
.btn-primary{
    display: none;
    background-color: #c0a261;
    font-weight: bolder;
    border: none;
}
.btn-primary:hover{
    background-color: #aa671d;
}
.btn-primary h5{
    padding: 5px;
}
.offcanvas-body{
    display: flex;
    flex-direction: column;
}
.offcanvas-body a{
    text-decoration: none;
    color: #000;
}
.offcanvas-body a:hover{
    background-color: #ddab40;
    color: white;
    scale: 1.05;
}


/* ----------INDEX NAVBAR----------*/
header{
    position: relative;
}
.navBar{
    width: 100%;
    height: 120px;
    background: linear-gradient(to left, white,#ffd783);
    /* background-color: #ffd783; */
    font-family: montserrat, sans-serif;
    display: flex;
}
.navBar div{
    display: flex;
    font-family: montserrat, sans-serif;
    font-weight: bolder;
}
.Logo{
    cursor: pointer;
    margin-top: 0.5%;
    padding: 0;
    height: 80%;
}
.Logo:hover{
    scale: 1.1;
}
.navBar h3{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 40px;
}
.navBar h3:hover{
    font-size: 30px;
    color: #94722a;
}
.navBar a{
    text-decoration: none;
}

.navBar h2{
    padding-left: 5px;
    margin-top: 63px;
    font-size: 10px;
}
.nav-links {
    align-items: center;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    font-family: montserrat, sans-serif;
    color: black;
    justify-content: end;
    flex-grow: 4;

}
ul li{
    list-style-type: none;
}
.navBar ul li:hover{
    scale: 1.2;
}
ul li a{
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: black;
}
ul hr{
    border: none;
    width: 1px;
    border-left: 2px solid #aa671d;
    height: 20px;
} 

/* ----------INDEX MAIN SECTION---------- */

main{
    width: 100%;
    font-family: montserrat,sans-serif;
}
.mainSection { 
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    text-align: center;
}
.mainSection div{
    margin-top: 2%;
    width: 90%;
    padding: 5%;
}
.textoIzquierda{
    width: 100%;
    font-size: 50px;
    text-align: left;
}
.textoIzquierdaDescripcion{
    width: 100%;
    font-size: 20px;
    text-align: left;
}
.Boton{
    margin-top: 10%;
    cursor: pointer;
    font-family: montserrat, sans-serif;
    height: 50px;
    width: 150px;
    border: none;
    background-color: #444444;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #444444;
    color: rgb(255, 255, 255);
}
.imagenAula {

    width: 90%;
    margin-top: 3%; 
    object-fit: cover;
    height: 650px; 
}



/*  ----------INDEX MAIN SECTION TEXTOS---------- */

.textos{
    width: 100%;
    display: flex;
    gap: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10% 0 10% 0; 
}
.textos article h3{
    font-size: 22px;
}
.textos article p{
    font-size: 12px;
}
.textos article img{
    width: 80px;
    height: 80px;
}
.textos article{
    width: 26%;
}



/*  ----------INDEX MAIN SECTION GALERIA---------- */

.mainSectionGaleria{
    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(to left,white,#ffd783);
    height: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.mainSectionGaleria div{
    margin-top: 2%;
    width: 100%;

}
.textoIzquierdaGaleria{
    font-size: 50px;
    text-align: left;
    width: 90%;
    padding: 5%;
}
.textoIzquierdaDescripcionGaleria{
    text-align: left;
    padding: 5%;
    font-size: 25px;
    width: 90%;
}
.imagenEspacio{
    object-fit: cover;
    width: 95%;
    height: 600px;
    padding: 5%;

}
.BotonGaleria{
    margin-top: 3%;
    cursor: pointer;
    font-family: montserrat, sans-serif;
    height: 50px;
    width: 120px;
    border: none;
    background-color: #444444;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #444444;
    color: rgb(255, 255, 255);

}


 


/* ----------CURSOS---------- */


.tituloCursos{
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
}

.conteinerCursos{
    justify-content: center;
    margin: 80px 0px 500px 0px;
    text-align: center;
    width: 100%;
    gap: 10%;
    display: grid;
    grid-template-columns: 30% 30%;
    height: 100%;
    
}
.cursos{
    height: 100%;
    text-align: center;
    background-color: #ffd783;
    border-radius: 30px 30px 0px 0px;

}
.cursos img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px; 

}
.cursos h3, p{
    padding: 10px;
}
.cursos p{
    font-size: 12px;
    padding: 5px 10px 0px 10px;
}
.botonCursos{
    cursor: pointer;
    font-family: montserrat,sans-serif;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    border: none;
    background-color: #44433f;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #c0a261;
    color: rgb(255, 255, 255);
}




/* ----------CONTACTO---------- */

.conteinerContacto{
    display: grid;
    grid-template-columns: 40% 40%;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.tituloContacto{
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
}
article form p{
    font-weight: bold;
}
.conteinerform{
    text-align: center;
    margin-left: 20%;
    width: 70%;
    height: 100%;
    background: linear-gradient(to left,#ffe5ae, #ffd783);
    background-color: #ffd783;
    border-radius: 15%;
}

.conteinerRedes{
    margin-top: 4%;
    width: 450px;
    height: 300px;
    text-align: center;
    
}
.conteinerRedes div{
    display: flex;
    flex-direction: column 50% 50%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}
.conteinerRedes div img{
    width: 30px;
    height: 30px;
    
}
.conteinerRedes div img:hover{
    scale: 1.5;
}
.conteinerRedes div p:hover{
    scale: 1.1;
}
.conteinerRedes div p {
    display: inline-block;
    margin-top: 5%;
    margin-left: 1%;
    text-align: left;
    width: 260px;
    height: 30px;
    background-color: #fff1d7;
    border-radius: 10px;    
}
.formulario input{
    width: 80%;
    font-family: montserrat, sans-serif;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 15px 10px 5px 10px;
    border: none;
}
.formulario textarea{
    width: 80%;
    font-family: montserrat, sans-serif;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 15px 10px 5px 10px;
    border: none;
}

.botonFormulario{
    margin-bottom: 10px;
    cursor: pointer;
    font-family: montserrat, sans-serif;
    height: 40px;
    width: 25%;
    border: none;
    background-color: #444444;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #444444;
    color: rgb(255, 255, 255);

}
.botonFormulario:hover{
    scale: 1.1;
}

.ubicacion{
    display: grid;
    grid-template-columns: 40% 40%;
    width: 100%;
    background: linear-gradient(to left,white,#ffd783);
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ubicacion article img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.ubicacionTextos{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.ubicacionTextos h2{
    font-size: 20px;
    padding: 15px;
    width: 60%;
    text-align: center;
    font-weight: bolder;
}
.ubicacion h3{
    font-size: 20px;
    padding: 15px;
    width: 300px;
}
.ubicacionTextos iframe{
    padding: 5px;
    width: 400px;
    height: 300px;
    border: none;
}
.ubicacionTextos iframe:hover{
    width: 500px;
    height: 350px;
}



/* -------------SOBRE NOSOTROS---------- */

.conteinerSobreNosotros{
    display: flex;
    width: 100%;
}

.SobreNosotros{
    margin-top: 50px;
    text-align: center;
}
.SobreNosotros h1{
    font-size: 50px;
}
.SobreNosotros img{
    margin-top: 80px;
    object-fit: cover;
    width: 60%;
    height: 300px;
}

.SobreNosotros p{
    margin-left: 20%;
    text-align: center;
    margin-top: 50px;
    width: 60%;   
}
.conteinerGaleria{
    padding-top: 20px;
    padding-bottom: 80px;
    margin-top: 150px;
    text-align: center;
    background-color: #fff1d7;
    height: 800px;
}
.CarruselImagenes{
    background-color: #fff1d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}
.CarruselImagenes h2{
    margin-top: 50px;
    font-weight: bolder;
}
.CarruselImagenes p{
    margin-bottom: 50px;
}



/*---------Bootstrap Carrursel-------*/
.CarruselImagenes{
    width: 100%;
}
.carouselExample{
    margin: 0%;
}
.carousel{
    margin-bottom: -200px;
    width: 100%;
    height: 850px;

}
.carousel-inner{
    margin: 0%;
    margin-left: 20%;
    height: 80%;
    width: 80%;
}
.carousel-item{
    width: 80%;
    height: 1500px;
}
.d-block{
object-fit: cover;
width: 100%;
height: 80%;
}
.carousel-control-next{
    right: 16%;
    height: 80%;
}
.carousel-control-next:hover,
.carousel-control-prev:hover{
    color: white;
    scale: 1.4;
}
.carousel-control-prev{
    left: 20%;
    height: 80%;
}




/*  -------------TESTIMONIOS ------------- */

.conteinerTestimonios{
    
    text-align: center;
    background: linear-gradient(to right, white, #ffd783 );
}
.tituloTestimonios{
    
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.conteinerTestimonios h3{
    margin-top: 75px;
}
.conteinerTestimonios p{
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}
.conteinerCards{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cards div{
    margin-top: 50px;
    padding-top: 30px;
    height: 300px;
    text-align: center;
    width: 55%;
    
} 
.cards div p{
    font-family: montserrat, sans-serif;
    margin-top: 20px;
    width: 90%;
}
.imagenTestimonio{
    margin-top: 50px;
    object-fit: cover;
    width: 300px;
    height: 300px;
}




/* -------------FOOTER---------- */


footer{
    text-align: center;
    width: 100%;
    height: 200px;
    background: linear-gradient(to right,white,#ffd783);
    font-family: montserrat, sans-serif;
}
footer h4{
    cursor: pointer;
    padding-top: 50px;
}
footer hr{
    width: 30%;
    margin-left: 35%;
    border-top: 2px solid #cfab5b;
}
footer a{
    text-decoration: none;
    color: #000;
}


/* ---------MEDIA QUERIES---------- */

/* ---------MEDIA QUERIES Navbar---------- */

@media screen and (max-width: 400px){
    .navBar div{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .navBar div h2{
        margin: 0;
    }
}

/* ---------MEDIA QUERIES INDEX---------- */

 @media  screen and (max-width: 1072px){
    .textos{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .textoIzquierda,
    .textoIzquierdaGaleria{
        font-size: 26px;
    }
    .textoIzquierdaDescripcion,
    .textoIzquierdaDescripcionGaleria{
        font-size: 18px;
    }


  
}

@media screen and (max-width: 700px){
    .mainSection,
    .mainSectionGaleria{
        grid-template-columns: 100%;
        width: 100%;
    }
    .textoIzquierda,
    .textoIzquierdaGaleria{
        width: 90%;
        margin: 0;
        padding: 5px;
        font-size: 22px;
    }
    .textoIzquierdaDescripcion,
    .textoIzquierdaDescripcionGaleria{
        width: 90%;
        margin: 0;
        padding: 5px;
        font-size: 18px;
    }
    .textoIzquierdaGaleria,
    .textoIzquierdaDescripcionGaleria{
        margin-left: 5%;
    }
    .imagenAula,
    .imagenEspacio{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .mainSectionGaleria div{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 400px) {
    .textoIzquierda,
    .textoIzquierdaGaleria{
        font-size: 18px;
    }
    .textoIzquierdaDescripcion,
    .textoIzquierdaDescripcionGaleria{
        font-size: 16px;      
    }
}


/* ---------MEDIA QUERIES Menu offcanvas Boostrap---------- */



 @media screen and (max-width: 970px){

    .nav-links{
       display: none;
    }
    .navBar{
        display: flex;
    }

    .offcanvas{
        display: flex;
        transition: 0.5s;
        background-color: #ffd783;
    }
    .offcanvas-title{
        font-weight: bolder;
    }
     .btn-primary{
        display: block;
        height: 30%;
        margin-left: 25%;
        width: 50%;
        background-color: #c7b07f;
        font-weight: bolder;
        border: none;
    } 
    .btn-primary:hover{
        background-color: #94722a;
        width: 100%;
        transition: all .5s ;
        margin-left: 0;
    }
  
    .offcanvas-body{
        display: flex;
        flex-direction: column;
    }
    .offcanvas-body a{
        text-decoration: none;
        color: #000;
        font-size: 25px;
    }
    .offcanvas-body a:hover{
        background-color: #ddab40;
        color: white;
        scale: 1.05;
    }
} 


/* ---------MEDIA QUERIES CURSOS---------- */


@media  screen and (max-width: 707px) {
    .conteinerCursos{
        grid-template-columns: 80%;
        gap: 50px
    }


}

/* ---------MEDIA QUERIES CONTACTO---------- */



@media screen and (max-width: 1100px){
    .conteinerContacto{
        justify-items: center;
        padding-bottom: 100px;
      
    }
    .conteinerform{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0%;
       
    }
    .ubicacion article img{
        width: 60%;
    }
    .formulario{
        width: 80%;
        border-radius: 50px;
    }
    .conteinerRedes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .conteinerContacto,
    .ubicacion{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width: 620px){
    .ubicacion article iframe:hover{
        width: 400px;
        height: 300px;
    }
    .botonFormulario{
        font-size: 12px;
    }
}
@media screen and (max-width: 430px){
   
    .ubicacion article iframe{
        width: 200px;
        height: 200px;
    }
    .ubicacion article iframe:hover{
        width: 200px;
        height: 200px;
    }
    
}
@media screen and (max-width: 500px){
    .conteinerform{
        width: 100%;
        margin-left: 0;
    }
    .formulario{
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    .conteinerContacto{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .tituloContacto{
        width: 100%;
        font-size: 28px;
    }
    .conteinerRedes h2{
        width: 80%;
        font-size: 16px;

    }
    .conteinerRedes h3{
        width: 70%;
        font-size: 15px;

    }
    .conteinerRedes{
        width: 70;
    }

}
@media screen and (max-width: 330px){
    .conteinerRedes div{
        width: 70%;
    }
    .conteinerRedes div p{
        font-size: 12px;
    }
    .ubicacionTextos h3,
    .ubicacionTextos h2{
        width: 60%;
        font-size: 12px;
    }
}


/* ---------MEDIA QUERIES SOBRE NOSOTROS ---------- */

@media screen and (max-width: 900x){
   .SobreNosotros p{
    width: 80%;
    font-size: 16px;
   }
  
}

@media screen and (max-width: 500px){
    .SobreNosotros img{
        width: 100%;
    }
    .carousel-inner{
        margin: 0;
        padding: 0;
        width: 100%;

    }
    .carousel-item{
        width: 100%;
    }
}

/* ---------MEDIA QUERIES TESTIMONIOS---------- */

@media screen and (max-width: 745px){
    .cards{
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 800px;
        margin-top: 20px;
    }
    .cards div{
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding-top: 0;
        text-align: center;
        width: 100%;
        
    } 
    .cards div p{
        width: 100%;
    }
    .card-fondo{
        background-color: #fff1d7;
    }
    .imagenTestimonio{
        margin-top: 10px;
        object-fit: cover;
        width: 300px;
        height: 300px;
    }
    .conteinerTestimonios p{
        margin-top: 10px;
        width: 90%;
        margin-left: 5%;
    }
   
    
    
}
@media screen and (max-width: 745px){
    .tituloTestimonios{
        font-size: 35px;
    }
    .conteinerTestimonios article h3{
        font-size: 22px;
    }
    .conteinerTestimonios article p{
        font-size: 13px;
    }
    
}



