/* ----------CURSOS---------- */


.tituloCursos{
    text-align: center;
    margin-top: 2%;
    font-size: 3rem;
}

.conteinerCursos{
    @include grid(center, center);
    grid-template-columns: 30% 30%;
    margin: 80px 0px 500px 0px;
    text-align: center;
    width: 100%;
    gap: 10%;
    height: 100%;
    .cursos{
        height: 100%;
        text-align: center;
        background-color: #ffd783;
        border-radius: 30px 30px 0px 0px;
        img{
            height: 300px;
            width: 100%;
            object-fit: cover;
            border-radius: 25px 25px 0px 0px; 
        }
        h3{
            padding: 10px;
        }
        p{
            font-size: 0.8rem;
            padding: 5px 10px 0px 10px;
        }
        .botonCursos{
            cursor: pointer;
            font-family: $fuente;
            font-size: 0.7rem;
            margin-bottom: 20px;
            margin-top: 20px;
            height: 50px;
            width: 100px;
            border: none;
            background-color: #44433f;
            border-radius: 25px;
            box-shadow: 3px 3px 10px #c0a261;
            color: rgb(255, 255, 255);
            transition: all 0.3s;
            &:hover{
                scale: 1.1;
            }
            
        }
    }
}

 


