/* ----------INDEX---------- */


/* ----------BOOTSTRAP---------- */


.offcanvas{
    display: none;
    transition: 0.5s;
    background-color: #ffd783;
    .offcanvas-title{
        font-weight: bolder;
    }
}
.btn-primary{
    display: none;
    background-color: #c0a261;
    font-weight: bolder;
    border: none;
    &:hover{
        background-color: #aa671d;
    }
    h5{
        padding: 5px;
    }
}
.offcanvas-body{
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color: #000;
        &:hover{
            background-color: #ddab40;
            color: white;
            scale: 1.05;
        }
    }
}

/* ----------INDEX MAIN SECTION---------- */

main{
    width: 100%;
    font-family: montserrat,sans-serif;
}
.mainSection { 
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    text-align: center;
    div{
        margin-top: 2%;
        width: 90%;
        padding: 5%;
    }
    .textoIzquierda{
        width: 100%;
        font-size: 3rem;
        text-align: left;
    }
    .textoIzquierdaDescripcion{
        width: 100%;
        font-size: 1.5rem;
        text-align: left;
    }
    .Boton{
        margin-top: 10%;
        cursor: pointer;
        font-family: $fuente;
        height: 50px;
        width: 150px;
        border: none;
        background-color: #444444;
        border-radius: 15px;
        box-shadow: 3px 3px 10px #444444;
        color: rgb(255, 255, 255);
        &:hover{
            scale: 1.2;
        }
    }
    .imagenAula {
        width: 90%;
        margin-top: 3%; 
        object-fit: cover;
        height: 650px; 
    }
    
}







/*  ----------INDEX MAIN SECTION TEXTOS---------- */

.textos{
    width: 100%;
    display: flex;
    gap: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10% 0 10% 0; 
    article{
        width: 26%;
        img{
            width: 80px;
            height: 80px;
            animation-name: iconos;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: infinite;
        }
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
}





/*  ----------INDEX MAIN SECTION GALERIA---------- */

.mainSectionGaleria{
    @extend .mainSection;
    background: $fondo-left;
    div{
        margin-top: 2%;
        width: 100%;
        .textoIzquierdaGaleria{
            font-size: 3rem;
            text-align: left;
            width: 90%;
            padding: 5%;
        }
        .textoIzquierdaDescripcionGaleria{
            text-align: left;
            padding: 5%;
            font-size: 1.5rem;
            width: 90%;
        }
    
    }
    .imagenEspacio{
        object-fit: cover;
        width: 95%;
        height: 600px;
        padding: 5%;
    
    }
    .BotonGaleria{
        margin-top: 3%;
        cursor: pointer;
        font-family: $fuente;
        height: 50px;
        width: 120px;
        border: none;
        background-color: #444444;
        border-radius: 15px;
        box-shadow: 3px 3px 10px #444444;
        color: rgb(255, 255, 255);
        &:hover{
            scale: 1.2;
        }
    }
}

