.contenedorPerfil{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: $fondo-right;
    gap: 40px;
    .contenedorInterno{
        padding: 40px;
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        background: $fondo-left;
        border-radius: 30px;
        font-family: $fuente;
        font-weight: bold;
        #contenedorInput{
            width: 100%;
            .contenedorExperiencia div{
                margin-top: 50px;
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 10px;
                #experiencia{
                    width: 100%;
                    margin: 0;
                    padding-left: 15px;
                }
                #maquinaCoser{
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    padding-left: 15px;
                }
            }
        }
        div{
            margin-top: -100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 80px;
            input{
                margin-top: 50px;
                padding: 10px;
                width: 50%;
                height: 50px;
                border-radius: 15px;
                border: none;
            }
            .botonPerfil{
                cursor: pointer;
                border: none;
                width: 200px;
                height: 40px;
                background-color: rgb(68, 70, 73);
                font-size: 1rem;
                color: white;
                border-radius: 10px;
                transition: .5s;
                box-shadow: 3px 3px 5px 1px #000;
                &:hover{
                    scale: 1.2;
                }
            }
            .recomendacion{
                font-size: 1.2rem;
            }
        }
        .contenedorRecomendaciones{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            .cursoAgregdo{
                margin-top: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 500px;
                height: 400px;
                background: linear-gradient(white, #ffd783);
                border-radius: 20px;
                .tituloCurso{
                    font-family: montserrat;
                    font-size: 1rem;
                    font-weight: bold;
                 
                }
                .imgCursoTelas{
                    margin-top: -70px;
                    width: 80%;
                    height: 25%;
                    object-fit: cover;
                    border: none;
                    border-radius: 20px;
                }
                .botonInscripcion{
                    margin-top: -40px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    font-family: $fuente;
                    font-size: 0.7rem;
                    height: 50px;
                    width: 100px;
                    border: none;
                    background-color: #44433f;
                    border-radius: 25px;
                    box-shadow: 3px 3px 5px 1px #c0a261;
                    color: rgb(255, 255, 255);
                    transition: all 0.3s;
                    &:hover{
                        scale: 1.2;
                    }
                }
                .descripcionCurso{
                    margin-top: -50px;
                    padding: 15px;
                    font-size: 0.8rem;
                    font-family: montserrat;
                }
            }

        }
        
    }
.conteinerBuscadorTodo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .conteinerBuscador{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: fit-content;
        gap: 40px;
        background: $fondo-left;
        border-radius: 30px;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            width: 100%;
        }
        .contenerdorCursosMostrados{
            width:100%;
        }
        h3{
            height: fit-content;
        }
        .escape{
            width: 50%;
            margin-top: -35px;
            margin-left: -10px;
            opacity: 60%;
            font-size: .9rem;
        }
        input{
            width: 40%;
            height: 50px;
            border-radius: 15px;
            border: none;
            padding-left: 15px;
            background-color: #ffffff;
            color: rgb(7, 2, 2);        
        }
        .botonBuscar{
            cursor: pointer;
            font-family: $fuente;
            font-size: 0.9rem;
            height: 50px;
            width: 100px;
            border: none;
            background-color: #44433f;
            border-radius: 15px;
            box-shadow: 3px 3px 5px #000000;
            color: rgb(255, 255, 255);
            transition: all 0.3s;
            &:hover{
                scale: 1.1;
            }    
        }
        .listaCursos{
            padding: 20px;
            margin-top: -20px;
            list-style: none;
            text-align: start;
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #ffffff;
            border-radius: 30px;
            width: 100%;
            height: fit-content;
            div p{
                font-size: 0.8rem;
            }
            li{
                color: #ffffff;
                width: 80%;
                padding-top: 10px;
                padding-left: 15px;
                background-color: #646161;
                border-radius: 10px;
                height: 50px;
            }
            .masInfo{
                cursor: pointer;
                font-family: $fuente;
                font-size: 0.9rem;
                height: 40px;
                width: 170px;
                border: none;
                background-color: #44433f;
                border-radius: 15px;
                box-shadow: 3px 3px 5px #000000;
                color: rgb(255, 255, 255);
                transition: all 0.3s;
                &:hover{
                    scale: 1.1;
                }    
            }
            .check{
                width: 25px;
                height: 25px;
            }
        }
        .lista{
             display: none;
        }
        .todosCursos{
            margin-left: 50%;
        }
        
    
    }    
}

}
.seleccinado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.agregar{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: -13px;
}
.botonPagar{
    cursor: pointer;
    font-family: $fuente;
    font-size: 0.9rem;
    height: 40px;
    width: 170px;
    border: none;
    background-color: #3f8339;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #000000;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    &:hover{
        scale: 1.1;
    }                    
}
.botonCancelar{
    cursor: pointer;
    font-family: $fuente;
    font-size: 0.9rem;
    height: 40px;
    width: 170px;
    border: none;
    background-color: #af3333;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #000000;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    &:hover{
        scale: 1.1;
    }                    
}
.botonCalcular{
    margin-left: 30%;
    margin-top: 20px;
    cursor: pointer;
    font-family: $fuente;
    font-size: 1rem;
    height: 40px;
    width: 170px;
    border: none;
    background-color: #3f8339;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #000000;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    &:hover{
        scale: 1.1;
    }                    
}
